.home-main {
 width: 100vw;
 position: relative;
}

.home-container {
 width: 75%;
 min-height: 80vh;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.home-box {
 width: 50%;
 height: 100;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.home-left {
 margin-right: 10%;
}

.home-left h3 {
 font-size: 30px;
 font-weight: 5px;
 letter-spacing: 2px;
}

.home-left h1 {
 font-size: 60px;
 font-weight: bold;
 color: #3c3E41;
}

.home-left h1 span {
 color: #010326;
}

.home-left h2 {
 font-size: 50px;
 font-weight: bold;
 color: #3c3E41;
}

.home-left h2 span {
 color: #010326;
}

.home-left p {
 color: #878e99;
 font-size: 18px;
 line-height: 30px;
 margin-top: 30px;
}